        main{
            height: 200px;
            background-color: antiquewhite;
            width: 60%;
            margin-top:  50px; 
            
            background-color:rgba(255, 200, 209, 0.139);
            box-shadow: 0px 2px 4px 0px rgba(253, 0, 118, 0.538);
        }
        .form-control{
            margin: 1rem 0;
        }
        .form-control label,
        .form-control input{
            display: block;
            width: 100%;
            margin-bottom: 0.25rem;
        }
        .form-control input{
            border: 1px solid #a1a1a1;
            font: inherit;
            border-radius: 2px;
        }
        .form-control input:focus{
            outline-color:rgb(253,0,118);
        }
