main{
    height: 510px;
    background-color: antiquewhite;
    width: 500px;
    margin-top:  50px; 
    
    background-color:rgba(255, 200, 209, 0.139);
    box-shadow: 0px 2px 4px 0px rgba(253, 0, 118, 0.538);
}
img{
    border: 1px solid black;
    height:240px;
    width:240px;
}