extends layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/product.css")

block content
    main 
        if prods.length > 0
            .grid 
                each product in prods 
                    article.card.product-item 
                        header.card_header
                            h1.product_title #{product.title}
                        div.card_image
                            img(src="https://www.google.com/search?q=bnana&tbm=isch&ved=2ahUKEwjTjPHfzrD-AhW5yXMBHcWtAocQ2-cCegQIABAA&oq=bnana&gs_lcp=CgNpbWcQARgCMgQIIxAnMgQIIxAnMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgARQqAJYqAJgnRZoAHAAeACAAXeIAeUBkgEDMC4ymAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=DRM9ZJPSLLmTz7sPxduKuAg&bih=541&biw=664&rlz=1C1CHBF_enIN1049IN1049#imgrc=uTro-m1pKRcUvM")
                        
                        div.card_content
                            h2.product_price ₹60.00
                            p.product_description A fresh banana.
                        .card_actions 
                            button.btn Add to Cart