extends layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/product.css")

block content
    main 
        if prods.length > 0
            .grid 
                each product in prods 
                    article.card.product-item 
                        header.card_header
                            h1.product_title #{product.title}
                        div.card_image
                            img(src="https://cdn3.mydukaan.io/app/image/700x700/?url=https://projecteagle.s3.ap-south-1.amazonaws.com/images/b9e0da5f-42fc-4d73-b422-ec3bc8d96e2e.jpg")
                        
                        div.card_content
                            h2.product_price ₹60.00
                            p.product_description A fresh banana.
                        .card_actions 
                            button.btn Add to Cart